ASTRA_DB_API_ENDPOINT="https://d76a171b-f07b-41df-b2c0-6b3dc6042c61-us-east-2.apps.astra.datastax.com"
ASTRA_DB_APPLICATION_TOKEN="AstraCS:CYqIsReOTrXzaRYczoiRPTXO:daf1234343"
ASTRA_DB_NAMESPACE="pdfchat_astra_openai"
OPENAI_API_KEY="test"
